node_modules
npm-debug.log
dist
build
.git
.gitignore
README.md
.env
.env.local
.env.*.local
coverage
.nyc_output
.idea
.vscode
*.swp
*.swo
*~
.DS_Store
.env.example
.eslintcache
.eslintignore
.prettierrc
.prettierignore
vite.config.ts.timestamp-*
.turbo
cypress
vitest
